// color palette
$darkblue: #202833
$gray: #ECECEC
$lightblue: #66FCF1
$darkgreen: #46A29F
$abo: #595957
    
body
    font-family: 'Roboto', sans-serif
    .classy-header
        background-color: $abo
        z-index: 9999
        position: fixed
        nav
            >
                a
                    color: $gray
            .collapse
                .navbar-nav
                    .nav-item
                        >
                            a
                                color: $gray
    header
        background: transparent
        display: block
        position: fixed
        z-index: 9999
        nav
            position: fixed
            width: 100%
            z-index: 9999
            >
                a
                    color: #000
                    font-weight: 800
                a:hover
                    color: $lightblue
            .collapse
                justify-content: flex-end !important
                .navbar-nav
                    .nav-item
                        >
                            a
                                color: #000
    .first__fold
        background: $gray
        height: 100vh
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
        .row
            margin: 0px
            padding: 0
            .page__numberholder
                width: 12%
                display: inline-block
                .p__number
                    margin: 0
                    font-size: 45px
                    color: $abo
                .p__line
                    content: ""
                    width: 4px
                    height: 180px
                    background: $abo
                    position: relative
                    left: 0
                    right: 0
                    top: 0px
                    margin-left: 25px
                    display: inline-block
                .p__title
                    text-transform: uppercase
                    writing-mode: vertical-rl
                    z-index: 100
                    letter-spacing: 0.3em
                    transform: rotate(180deg)
                    color: $abo
            .name__holder
                width: 42%
                .name
                    font-size: 2em
                    letter-spacing: 0.1em
                    margin: 0
                    line-height: 1.1
                    color: $abo
                    padding-top: 1em
                .line
                    content: ""
                    width: 80px
                    height: 5px
                    background: $abo
                    margin: 15px 0
                .about__me
                    width: 100%
                    padding-top: 2em
                    display: inline-block
                    margin: 0
                    color: $abo
            .pic__holder
                width: 42%

    .second__fold
        background-color: $abo
        height: 100vh
       
