body {
  font-family: "Roboto", sans-serif; }
  body .classy-header {
    background-color: #595957;
    z-index: 9999;
    position: fixed;
    box-shadow: 2px 2px 5px #0000004f; }
    body .classy-header nav > a {
      color: #ECECEC;
      font-size: 25px;
      transition: 0.5s ease-out; }
    body .classy-header nav > a:hover {
      color: #ECECEC; }
    body .classy-header nav .collapse .navbar-nav .nav-item .nav-link {
      color: #ECECEC; }
    body .classy-header nav .navbar-toggler {
      outline: none !important; }
      body .classy-header nav .navbar-toggler .animated-icon1 span {
        background: #ECECEC; }
  body header {
    background: transparent;
    display: block;
    position: fixed;
    z-index: 9999; }
    body header nav {
      position: fixed;
      width: 100%;
      z-index: 9999; }
      body header nav > a {
        color: #595957;
        font-weight: 700; }
      body header nav > a:hover {
        color: #595957; }
      body header nav .collapse {
        justify-content: flex-end !important; }
        body header nav .collapse .navbar-nav .nav-item .nav-link {
          color: #595957; }
      body header nav .navbar-toggler {
        border: unset !important; }
        body header nav .navbar-toggler .animated-icon1,
        body header nav .navbar-toggler .animated-icon2,
        body header nav .navbar-toggler .animated-icon3 {
          width: 30px;
          height: 20px;
          position: relative;
          margin: 0px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
          cursor: pointer; }
        body header nav .navbar-toggler .animated-icon1 span,
        body header nav .navbar-toggler .animated-icon2 span,
        body header nav .navbar-toggler .animated-icon3 span {
          outline: none !important;
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out; }
        body header nav .navbar-toggler .animated-icon1 span {
          background: #595957;
          outline: none !important; }
        body header nav .navbar-toggler .animated-icon2 span {
          background: #e3f2fd; }
        body header nav .navbar-toggler .animated-icon1 span:nth-child(1) {
          top: 0px; }
        body header nav .navbar-toggler .animated-icon1 span:nth-child(2) {
          top: 10px; }
        body header nav .navbar-toggler .animated-icon1 span:nth-child(3) {
          top: 20px; }
        body header nav .navbar-toggler .animated-icon1.open span:nth-child(1) {
          top: 11px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg); }
        body header nav .navbar-toggler .animated-icon1.open span:nth-child(2) {
          opacity: 0;
          left: -60px; }
        body header nav .navbar-toggler .animated-icon1.open span:nth-child(3) {
          top: 11px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg); }
        body header nav .navbar-toggler .mark-nav {
          outline: none !important; }
      body header nav .navbar-toggler:hover,
      body header nav .navbar-toggler {
        outline: none; }
  body .first__fold {
    background: #ECECEC;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    body .first__fold .row {
      margin: 0px;
      padding: 0; }
      body .first__fold .row .page__numberholder {
        width: 12%;
        display: inline-block; }
        body .first__fold .row .page__numberholder .p__number {
          margin: 0;
          font-size: 45px;
          color: #595957; }
        body .first__fold .row .page__numberholder .p__line {
          content: "";
          width: 4px;
          height: 150px;
          background: #595957;
          position: relative;
          left: 0;
          right: 0;
          top: 0px;
          margin-left: 25px;
          display: inline-block; }
        body .first__fold .row .page__numberholder .p__title {
          text-transform: uppercase;
          writing-mode: vertical-rl;
          z-index: 100;
          letter-spacing: 0.3em;
          transform: rotate(180deg);
          color: #595957; }
      body .first__fold .row .name__holder {
        width: 42%;
        margin: auto 0;
        position: relative; }
        body .first__fold .row .name__holder .name {
          font-size: 2em;
          letter-spacing: 0.1em;
          margin: 0;
          line-height: 1.1;
          color: #595957; }
        body .first__fold .row .name__holder .name:after {
          content: "FRONT-END DEVELOPER";
          display: block;
          animation: write 10s linear 1;
          animation-fill-mode: forwards; }
@keyframes write {
  1% {
    content: "F|"; }
  2% {
    content: "FR|"; }
  3% {
    content: "FRO|"; }
  4% {
    content: "FRON|"; }
  5% {
    content: "FRONT|"; }
  6% {
    content: "FRONT-|"; }
  7% {
    content: "FRONT-E|"; }
  8% {
    content: "FRONT-EN|"; }
  9% {
    content: "FRONT-END"; }
  10% {
    content: "FRONT-END|"; }
  11% {
    content: "FRONT-END D|"; }
  12% {
    content: "FRONT-END DE|"; }
  13% {
    content: "FRONT-END DEV|"; }
  14% {
    content: "FRONT-END DEVE|"; }
  15% {
    content: "FRONT-END DEVEL|"; }
  18% {
    content: "FRONT-END DEVELO|"; }
  20% {
    content: "FRONT-END DEVELOP|"; }
  22% {
    content: "FRONT-END DEVELOPE|"; }
  25% {
    content: "FRONT-END DEVELOPER|"; }
  30% {
    content: "FRONT-END DEVELOPER"; }
  35% {
    content: "FRONT-END DEVELOPER|"; }
  40% {
    content: "FRONT-END DEVELOPER"; }
  45% {
    content: "FRONT-END DEVELOPER|"; }
  50% {
    content: "FRONT-END DEVELOPER"; }
  55% {
    content: "FRONT-END DEVELOPER|"; }
  60% {
    content: "FRONT-END DEVELOPER"; } }
        body .first__fold .row .name__holder .line {
          content: "";
          width: 80px;
          height: 5px;
          background: #595957;
          margin: 15px 0; }
        body .first__fold .row .name__holder .about__me {
          width: 100%;
          padding-top: 1em;
          display: inline-block;
          margin: 0;
          color: #595957; }
      body .first__fold .row .pic__holder {
        width: 42%;
        position: absolute;
        bottom: 0;
        right: 0; }
  body .second__fold {
    background-color: #595957;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
    body .second__fold .page__numberholder {
      width: 12%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .second__fold .page__numberholder .p__number {
        margin: 0;
        font-size: 45px;
        color: #ECECEC; }
      body .second__fold .page__numberholder .p__line {
        content: "";
        width: 4px;
        height: 150px;
        background: #ECECEC;
        position: relative;
        left: 0;
        right: 0;
        top: 0px;
        margin-left: 25px;
        display: inline-block; }
      body .second__fold .page__numberholder .p__title {
        text-transform: uppercase;
        writing-mode: vertical-rl;
        z-index: 100;
        letter-spacing: 0.3em;
        transform: rotate(180deg);
        color: #ECECEC; }
    body .second__fold .flex__box__container {
      display: flex;
      width: 88%;
      flex-direction: row-reverse;
      align-items: center; }
      body .second__fold .flex__box__container .sample__works {
        width: 40%;
        text-align: end; }
        body .second__fold .flex__box__container .sample__works > p {
          color: #ECECEC;
          text-transform: uppercase;
          font-size: 30px;
          font-weight: 700; }
        body .second__fold .flex__box__container .sample__works .list__portfolio {
          padding: 0;
          margin: 0;
          list-style-type: none;
          color: #ECECEC;
          padding-bottom: 1em; }
          body .second__fold .flex__box__container .sample__works .list__portfolio > li .portfolio__tab {
            color: #ECECEC;
            text-decoration: none;
            opacity: 0.5; }
          body .second__fold .flex__box__container .sample__works .list__portfolio > li .portfolio__tab.active {
            opacity: 1;
            font-size: 25px; }
        body .second__fold .flex__box__container .sample__works .view__all {
          text-decoration: underline;
          color: #ECECEC;
          text-transform: uppercase; }
      body .second__fold .flex__box__container .portfolio__images {
        width: 60%;
        display: block;
        position: relative;
        height: 80vh; }
        body .second__fold .flex__box__container .portfolio__images .tab-image {
          width: 100%; }
          body .second__fold .flex__box__container .portfolio__images .tab-image > a {
            height: 80vh;
            width: 100%; }
            body .second__fold .flex__box__container .portfolio__images .tab-image > a > img {
              width: 100%; }

#sample {
  background-color: #595957;
  display: none;
  padding: 1em 0;
  overflow: hidden; }
  #sample .grid__container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    padding: 0 10px; }
    #sample .grid__container .grid-item {
      height: 200px;
      width: 100%;
      overflow: hidden; }
    #sample .grid__container .grid-item:hover {
      opacity: 0.8; }
    #sample .grid__container .grid-item:first-child {
      border: unset !important;
      grid-column: 1/-1;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      #sample .grid__container .grid-item:first-child > p {
        margin: 0;
        color: #ECECEC;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px; }
    #sample .grid__container .grid-item:first-child:hover {
      opacity: 1; }

.third__fold {
  background: #ECECEC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .third__fold .row {
    margin: 0px;
    padding: 0; }
    .third__fold .row .page__numberholder {
      width: 12%;
      display: inline-block; }
      .third__fold .row .page__numberholder .p__number {
        margin: 0;
        font-size: 45px;
        color: #595957; }
      .third__fold .row .page__numberholder .p__line {
        content: "";
        width: 4px;
        height: 150px;
        background: #595957;
        position: relative;
        left: 0;
        right: 0;
        top: 0px;
        margin-left: 25px;
        display: inline-block; }
      .third__fold .row .page__numberholder .p__title {
        text-transform: uppercase;
        writing-mode: vertical-rl;
        z-index: 100;
        letter-spacing: 0.3em;
        transform: rotate(180deg);
        color: #595957; }
    .third__fold .row .name__holder {
      width: 50%;
      margin: auto 0; }
      .third__fold .row .name__holder .name {
        font-size: 1.5em;
        letter-spacing: 0.1em;
        margin: 0;
        line-height: 1.1;
        color: #595957;
        padding: 1em 0 1em 0;
        font-weight: 700; }
      .third__fold .row .name__holder .year__date {
        color: #595957; }
      .third__fold .row .name__holder .achievement__lists > li {
        color: #595957; }
        .third__fold .row .name__holder .achievement__lists > li > a {
          color: #595957; }

.fourth__fold {
  background-color: #595957;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0; }
  .fourth__fold .page__numberholder {
    width: 12%;
    display: inline-block; }
    .fourth__fold .page__numberholder .p__number {
      margin: 0;
      font-size: 45px;
      color: #ECECEC; }
    .fourth__fold .page__numberholder .p__line {
      content: "";
      width: 4px;
      height: 150px;
      background: #ECECEC;
      position: relative;
      left: 0;
      right: 0;
      top: 0px;
      margin-left: 25px;
      display: inline-block; }
    .fourth__fold .page__numberholder .p__title {
      text-transform: uppercase;
      writing-mode: vertical-rl;
      z-index: 100;
      letter-spacing: 0.3em;
      transform: rotate(180deg);
      color: #ECECEC; }
  .fourth__fold .name__holder {
    width: 75%;
    text-align: center;
    display: block; }
    .fourth__fold .name__holder .skills {
      font-size: 30px;
      margin: 0;
      color: #ECECEC;
      font-weight: 700; }
    .fourth__fold .name__holder .programming__tools {
      font-size: 16px;
      color: #ECECEC;
      text-transform: uppercase; }
    .fourth__fold .name__holder .line {
      content: "";
      width: 80px;
      height: 5px;
      background: #ECECEC;
      margin: 15px auto; }
  .fourth__fold .logo__holder {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .fourth__fold .logo__holder > li {
      flex-basis: 17%;
      padding: 15px 0; }
      .fourth__fold .logo__holder > li > img:hover {
        opacity: 0.5;
        transition: 0.5s ease-out;
        cursor: pointer; }

.fifth__fold {
  background: #ECECEC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .fifth__fold .row {
    margin: 0px;
    padding: 0; }
    .fifth__fold .row .page__numberholder {
      width: 12%;
      display: inline-block; }
      .fifth__fold .row .page__numberholder .p__number {
        margin: 0;
        font-size: 45px;
        color: #595957; }
      .fifth__fold .row .page__numberholder .p__line {
        content: "";
        width: 4px;
        height: 150px;
        background: #595957;
        position: relative;
        left: 0;
        right: 0;
        top: 0px;
        margin-left: 25px;
        display: inline-block; }
      .fifth__fold .row .page__numberholder .p__title {
        text-transform: uppercase;
        writing-mode: vertical-rl;
        z-index: 100;
        letter-spacing: 0.3em;
        transform: rotate(180deg);
        color: #595957; }
    .fifth__fold .row .name__holder {
      text-align: center;
      display: block;
      width: 75%;
      margin: auto 0; }
      .fifth__fold .row .name__holder .name {
        text-transform: uppercase;
        font-size: 30px;
        color: #595957;
        font-weight: 700;
        margin: 0; }
      .fifth__fold .row .name__holder .line {
        content: "";
        width: 80px;
        height: 5px;
        background: #595957;
        margin: 15px auto; }
      .fifth__fold .row .name__holder .email-add {
        color: #595957; }

@media (max-width: 767px) {
  header {
    background: #595957; }
    header nav {
      position: relative !important; }

  .first__fold {
    height: auto !important;
    padding: 0 15px 0 15px; }
    .first__fold .row .page__numberholder {
      display: none !important; }
    .first__fold .row .name__holder {
      width: 100% !important;
      padding: 7em 0 5em 0; }
      .first__fold .row .name__holder .about__me {
        padding-top: 0.5em !important;
        font-size: 14px; }
      .first__fold .row .name__holder .name {
        font-size: 1.6em !important;
        font-weight: 700; }
    .first__fold .row .pic__holder {
      width: 100% !important;
      text-align: end;
      display: none !important; }
      .first__fold .row .pic__holder > img {
        width: 10em !important; }

  .second__fold {
    padding: 1em 0 1.5em 0; }
    .second__fold .row {
      flex-direction: column-reverse; }
      .second__fold .row .page__numberholder {
        display: none !important; }
      .second__fold .row .portfolio-slider-size {
        width: 100% !important; }
      .second__fold .row .name__holder {
        width: 100% !important;
        padding: 0 30px 0 30px; }
        .second__fold .row .name__holder .name {
          font-size: 1.6em !important; }
        .second__fold .row .name__holder .about__me {
          padding-bottom: 1.5em;
          font-size: 14px !important; }

  .third__fold {
    padding: 1em 0 1.5em 0; }
    .third__fold .row .page__numberholder {
      display: none !important; }
    .third__fold .row .name__holder {
      width: 100% !important; }
      .third__fold .row .name__holder .name {
        font-size: 1.2em; }
      .third__fold .row .name__holder .achievement__lists > li {
        font-size: 14px !important; }
        .third__fold .row .name__holder .achievement__lists > li > a {
          font-size: 14px !important; }

  .fourth__fold .page__numberholder {
    display: none !important; }
  .fourth__fold .name__holder {
    width: 100%; }
    .fourth__fold .name__holder .skills {
      font-size: 1.6em; }
    .fourth__fold .name__holder .line {
      width: 65px; }
  .fourth__fold .logo__holder > li {
    flex-basis: 30%; }
    .fourth__fold .logo__holder > li > img {
      width: 2.5em; }

  .fifth__fold .row .page__numberholder {
    display: none !important; }
  .fifth__fold .row .name__holder {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
