// color palette
$clrBlue: #5B6EFF
$clrBlack: #000
$clrWhite: #fff
$clrGray: #F2F2F2

// font sizes
$fontLG: 2.125rem
$fontMD: 1.5rem
$fontSM: 1.125rem

// font family
$nunitoSans: 'Nunito Sans', sans-serif
    
// mixins
@mixin displayFlex($displayFlex: displayFlexMix)
    display: flex
    align-items: center
    list-style-type: none
    margin: 0
    padding: 0

@mixin desktopContainer($desktopContainer: desktopContainerMix)
    width: 90%
    margin: 0 auto

@mixin cstmClr($cstmClr: cstmClrMix)
    color: $clrBlue
    font-weight: 700

@mixin cntnt($cntnt: cntntMix)
    color: $clrBlack
    font-family: $nunitoSans
    font-size: $fontMD

body
    font-family: $nunitoSans
    
.custom-container
    @include desktopContainer($desktopContainer: desktopContainerMix)

.section-padding-base
    padding: 3em 0

.content-xl    
    font-size: $fontLG !important
.content-lg
    @include cntnt($cntnt: cntntMix)
.cstm-clr
    @include cstmClr($cstmClr: cstmClrMix)
.content-sm
    @include cntnt($cntnt: cntntMix)
    font-size: $fontSM


.slick-prev
    left: -45px !important
.slick-prev:before, .slick-next:before
    font-size: 40px !important
    color: $clrBlue !important
.slick-dots li button:before
    font-size: 16px !important
.slick-dots li.slick-active button:before
    color: $clrBlue !important


.mark-nav
    font-family: $nunitoSans
    @include displayFlex($displayFlex: displayFlexMix)
    height: 120px
    position: relative
    .logo-mark
        margin: 0
        // padding-left: 45px
        font-size: 24px
        font-weight: 700
        text-transform: uppercase
        > a
            color: $clrBlack
    .b-a, 
    .bar, 
    .bar:before, 
    .bar:after 
        transition: all .25s
        content: ""
        position: absolute
        right: 0
        height: 5px
        width: 50px
        // border-radius: 15px
        // background-color: rgba(255, 255, 255, 0.95)
        background-color: $clrBlack

    .menu-collapsed 
        transition: all .25s
        position: fixed
        top: 10px
        right: 9px
        height: 36px
        width: 36px
        z-index: 1
        cursor: pointer
        ul 
            transition: all 0s
            position: fixed
            left: -9000px
        a 
            transition: all .15s
            text-decoration: none
            font-size: 2em
            padding: 5px
            color: #fff !important
            display: block
        a:hover 
            // background-color: rgba(255, 255, 255, 0.8)
            background-color: $clrBlue
            transition: all .15s
            letter-spacing: 2px
            color: #fff
            border: 1px solid rgba(255, 255, 255, 0.15)
        .bar 
            position: fixed
            display: block
            right: 53px
            top: 55px
        .bar:before 
            top: -15px
        .bar:after 
            top: 15px


    .b-a-expanded, 
    .menu-expanded .bar:before, 
    .menu-expanded .bar:after 
        transition: all .25s
        top: -0px

    .menu-expanded 
        transition: all .25s
        text-align: center
        line-height: 100px
        height: 100%
        width: 40%
        border-radius: 0px
        top: 0
        right: 0
        // background-color: rgba(0, 0, 0, 0.85)
        background-color: #19191299
        ul 
            padding: 0
            transition: all 0s
            position: relative
            left: 0
            z-index: 2
            list-style-type: none
        a 
            transition: all .15s
            text-decoration: none
            font-size: 2em
            padding: 5px
            color: #fff !important
            display: block
        a:hover 
            // background-color: rgba(255, 255, 255, 0.8)
            background-color: $clrBlue
            transition: all .15s
            letter-spacing: 2px
            color: #fff
            border: 1px solid rgba(255, 255, 255, 0.15)

        .bar 
            background-color: transparent
            transition: all .25s
            z-index: 99999

        .bar:before 
            transform: rotate(45deg)

        .bar:after 
            transform: rotate(-45deg)

.mark-f1
    height: 450px
    position: relative
    .button-holder
        position: absolute
        bottom: 30%
        display: flex
        .button-item:first-child
            margin-right: 30px
        .button-item:last-child
            .mark-button
                background-color: $clrBlue
                color: $clrWhite
            .mark-button:hover
                transition: .5s ease-out
                background-color: $clrWhite
                color: $clrBlack
                text-decoration: none !important
        .button-item
            .mark-button
                border: 1px solid $clrBlack
                border-radius: 30px
                font-size: $fontSM
                padding: 15px 50px
                display: block
                text-transform: uppercase
                width: 220px
                text-align: center
                color: $clrBlack
                font-weight: 600
            .mark-button:hover
                transition: .5s ease-out
                background-color: $clrBlue
                color: $clrWhite
                text-decoration: none !important
  
.mark-f2
    background-color: $clrGray
    padding-top: 4em 
    .flex-container
        flex-wrap: wrap
        padding: 20px 0
        list-style-type: none
        margin: 0
        .flex-items
            // flex-basis: 33%
            padding: 30px 10px
            .img-holder
                background-color: $clrWhite
                height: 420px
                position: relative
                display: block
                overflow: hidden
            .link-holder
                background-color: $clrBlue
                height: 80px
                padding: 20px
                display: flex
                justify-content: center
                align-items: center
                > a
                    font-family: $nunitoSans
                    font-size: $fontSM
                    color: $clrWhite
                    text-decoration: underline

.mark-f3
    height: 420px
    background-color: $clrWhite
    .skills-slider
        margin: 0
        list-style-type: none
        padding: 2em 0
        .slick-prev,
        .slick-prev:before, .slick-next:before
            display: none

.mark-f4
    height: 90vh
    background-color: $clrGray
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .cta-holder
        display: flex
        justify-content: center
        padding-top: 2em
        .cta-button
            background-color: $clrBlue
            color: $clrWhite
            border: 1px solid $clrBlack
            border-radius: 30px
            font-size: $fontSM
            padding: 15px 50px
            display: block
            text-transform: uppercase
            text-align: center
            font-weight: 600
        .cta-button:hover
            transition: .5s ease-out
            background-color: $clrWhite
            color: $clrBlack
            text-decoration: none !important

.page-maintenance
    height: 75vh
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    > h1
        color: $clrBlue
        font-size: 3rem

.loader
    border: 16px solid #f3f3f3
    border-radius: 50%
    border-top: 16px solid $clrBlue
    border-bottom: 16px solid $clrBlue
    width: 90px
    height: 90px
    -webkit-animation: spin 2s linear infinite
    animation: spin 2s linear infinite


@-webkit-keyframes spin
    0% 
        -webkit-transform: rotate(0deg)
    100% 
        -webkit-transform: rotate(360deg)

@keyframes spin
    0% 
        transform: rotate(0deg)
    100% 
        transform: rotate(360deg)


    
.footer
    // background-color: #5B6EFF
    background-color: $clrGray
    .copyright
        text-align: center
        margin: 0
        padding: 2em 0
        color: #000

@media (max-width: 768px)
    .mark-nav .menu-expanded
        width: 100%
        display: flex
        align-items: center
        line-height: unset
        justify-content: center

    .mark-f1
        height: auto
        .button-holder
            position: relative !important
            padding: 2em 0

@media (max-width: 568px)
    .mark-nav 
        .menu-collapsed 
            .bar
                right: 25px
    .mark-f1 
        .button-holder
            flex-wrap: wrap
        .button-item:first-child
            margin-right: 0
            margin-bottom: 30px
    .mark-f2 
        .flex-container 
            .flex-items 
                .img-holder
                    height: 350px